POSTGRES_DB=anatel
POSTGRES_USER=anatel
POSTGRES_PASSWORD=SupranetAnatel2026@
POSTGRES_PORT=5432

# Defina como "false" para pular o download automático
DOWNLOAD_DATA=true
ANATEL_ZIP_URL = "https://www.anatel.gov.br/dadosabertos/paineis_de_dados/acessos/acessos_banda_larga_fixa.zip"
